@import "tailwindcss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  color: #56676D;
  background-color: #fff;
}

.about,
.services,
.action,
.qhse,
.logistique-section,
.big-carte,
.rse,
.contact-us,
.join1{
  /* margin: 5rem 20rem; */
  width: 80%;
  margin: 0 auto 0 auto;
  padding: 5rem 10rem;
  background-color: #fff;

}

/* Police */

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* End Police */

/* Title style */

.title1 {
  font-family: "Outfit", sans-serif;
  position: relative;
  font-size: 20px;
  color: #fff;
  z-index: 1;
}

.title1::before {
  content: '';
  position: absolute;
  width: 6rem;
  height: 100%;
  background-color: #1F458E;
  z-index: -1;
  left: -.5rem;
}

.title2 {
  font-family: "Outfit", sans-serif;
  font-size: 32px;
  color: #1F458E;
  position: relative;
  font-weight: bold;
  margin: 2rem 0 5.6rem 0;
  width: 65%;
}

.title2::before {
  content: '';
  width: 90%;
  height: 1px;
  background-color: #020101;
  opacity: 8%;
  position: absolute;
  top: 100%;
  margin-top: 2rem;
}

.title3 {
  font-family: "Outfit", sans-serif;
  font-size: 1.5rem;
  color: #343842;
  font-weight: 500;
  margin-bottom: 1.3rem;
}

/* End Title style */

/* Header */

header {
  color: #FFF;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  position: sticky;
  top: 0;
  background-color: #1F458E;
 
}


.logo {
  height: 5rem;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

nav ul li a {
  color: #FFF;
  text-decoration: none;

  transition: 500ms ease-in-out;

}

nav ul li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.search-box input {
  background-color: transparent;
  color: #FFF;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 1rem;
}

.search-box input:active {
  border: none;
  outline: none;
}

.search-box img {
  width: 15px;
  margin: 10px;
}

/* end header */

/* main hero*/

.main-hero, .hero{

  height: 100vh;
  width: 100%;
  overflow: hidden;

}

.hero{

  height: 70vh;
  width: 100%;
  overflow: hidden;

}

/* end main hero */

/* hero */

.hero img, .main-hero video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* end hero */
  

/*  Tabs  */


.tabs .tabs-header {
  display: flex;

}

.tabs .card {
  display: none;
}

.tab-item {
  cursor: pointer;
  margin: .2rem;
  color: gray;
  text-decoration-line: underline;
}

.tab-header-text p {
  width: 90%;
  margin-top: 1rem;
}

.tab-header-text{
  width: 50%;
  text-align: justify;
}

.img-container .img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.active {
  color: #1F458E;
  opacity: 100%;
  text-decoration-line: underline;
}

/* Banner */

.banner {
  position: relative;
  width: 100vw;
  height: 70vh;
  background-image: url(src/assets/banner.png);
}

.banner-elements {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translateX(18rem);
  padding-top: 12%;
  background-color: #737373;
  height: 70vh;
  padding-right: 5rem;
  padding-left: 5rem;
}

.banner-elements .element {
  display: flex;
  gap: 4rem;
}

.banner-elements .element:nth-child(2) {
  width: 4px;
  height: 4rem;
  background-color: #fff;
  opacity: 60%;
  left: 5%;
  position: relative;
}

.banner-elements .element img {
  width: 4rem;
}

.banner-elements .element p span {
  display: block;
  min-width: max-content;
}

.banner-elements .element p span:first-child {
  color: #fff;
  font-size: 1.3rem;
}

.banner-elements .element p span:last-child {
  color: #ECECEC;
  opacity: 70%;
}

/* End Banner */



/* services */

.services article {
  display: flex;
  justify-content: space-between;
}

.services article .left {
  width: 70%;
}

.services .right div {
  margin-bottom: 4rem;
}

.services .right div p:nth-child(2) {
  font-size: 1.2rem;
}

.huge-num {
  color: transparent;
  font-size: 5rem;
  -webkit-text-stroke: 2px #1F458E;
  position: relative;
  font-weight: bold;
  margin-bottom: 1.10rem;
}

.huge-num::before {
  content: '';
  width: 150%;
  height: 2px;
  background-color: #D9DDE6;
  position: absolute;
  top: 100%;
}


.services article:last-child {

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 400px;
  min-width: 300px;
  min-height: 200px;
  padding: 1rem;
  background-color: #F5F7F9;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.095);
}

.service-card p {
  text-align: center;
}

.service-card p {
  width: 70%;
}




/* end services */

/* news */

#news-section {
  background-color: #eee;
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

#news-section .news-body {
  display: flex;
  gap: 90px;
  flex-wrap: wrap;
  justify-content: center;
}

#news-section article {
  width: 360px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

#news-section article .news-img {
  width: 100%;
  height: 245px;
  object-fit: cover;
  margin-bottom: 1.2rem;
  border-radius: 8px;
}

.news-row {


  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;

}

.news-row button {
  padding: 5px 15px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  outline: none;
  border-radius: 30px;
  text-transform: uppercase;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

.news-row span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-row span img {
  height: 21px;
  margin-right: 8px;
}

#news-section article .text {
  padding: 1rem;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

#news-section article a {
  display: flex;
  justify-self: start;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

/* end news */


/* Contact */

.contact-us{
  justify-content: space-around;
}
.contact-us .title2{
  width: 100%;
}

/* end Contact */


/* footer */

footer {
  background-color: #1F458E;
  color: #fff;
  padding: 3rem 10rem;
}

footer .footer-container {
  display: flex;
  justify-content: space-between;
}

footer .footer-container .left {
  width: 50%;
}

.footer-container .left p {
  margin: .5rem 0;
}

.footer-container .right p {
  margin: 1rem 0;
}

.footer-container .right img {
  margin-top: 1rem;
}

footer .bottom {
  margin-top: 5rem;
  text-align: center;
}

footer h2{
  font-size: 1.4rem;
  text-decoration: underline;
}

/* end footer */

/* Slider */

.slide{
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.current {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

/* End Slider */


/* Action */

.action{
  background-color: #d1d1d1;
  width: 100%;
}

.chart {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
}

.chart-right {
  display: flex;
  gap: 6rem;
  flex-wrap: wrap;
  width: 50%;
}

.chart-right .item {
  position: relative;
}

.chart-right .item::before {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  left: -50%;
  bottom: 50%;
  border-radius: 100%;
}

.chart-right .item:nth-child(1)::before {
  background-color: red;
}

.chart-right .item:nth-child(2)::before {
  background-color: green;
}

.chart-right .item:nth-child(3)::before {
  background-color: yellow;
}

.chart-right .item:nth-child(4)::before {
  background-color: orange;
  left: -100%;
}

.chart-right .item:nth-child(5)::before {
  background-color: #102E60;
  left: -90%;
}



.segment {
  opacity: 0;
  transform-origin: center;
  /* plus d’animation ici */
}

/* On n’affecte l’animation qu’aux segments
   quand .chart a reçu la classe .animate */
.chart.animate .segment {
  animation: appear 0.6s ease-out forwards;
}

.chart.animate .segment:nth-child(1) {
  animation-delay: 0.2s;
}
.chart.animate .segment:nth-child(2) {
  animation-delay: 0.4s;
}
.chart.animate .segment:nth-child(3) {
  animation-delay: 0.8s;
}
.chart.animate .segment:nth-child(4) {
  animation-delay: 1s;
}
.chart.animate .segment:nth-child(5) {
  animation-delay: .8s;
}

@keyframes appear {
  from { opacity: 0; transform: scale(0.5) rotate(-90deg); }
  to   { opacity: 1; transform: scale(1)   rotate(0deg);    }
}

.segment.animate {
  animation: appear 0.6s ease-out forwards;
}


/* End Action */


/* Qhse */


.qhse-elements {
  display: flex;
  gap: 2rem;
  flex-wrap:wrap;
  align-content: center;
  justify-content: space-between;
  row-gap: 5rem;
}

.qhse-elements .element{
  display: flex;
  width: 25rem;
  position: relative;
}

.qhse-elements .element img{
  width: 4rem;
}

.qhse-elements .element:nth-child(1)::after, 
.qhse-elements .element:nth-child(2)::after, 
.qhse-elements .element:nth-child(3)::after
{
  content: '';
  position: absolute;
  width: 0;
  height: 6rem;
  background-color: #000;
  opacity: 50%;
  top: 4rem;
  left: 1.9rem;
}

.qhse-elements .element:nth-child(6){
  
  width: 25rem;
  height: 4rem;
  
  cursor: pointer;
}

.qhse-elements .element:nth-child(6)::after{

}

.qhse-elements a{
  background-color: #20458e;
  color: #fff;
  border-radius: 1rem;
}


.qhse-elements .element p{
  align-content: center;
  margin-left: 1rem;
}

/* End Qhse */


/* logistique */



.logistique-section .items{
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.logistique-section .items .item{
  display: flex;
  gap: 4rem;
  justify-items: center;
}

.logistique-section .items .item:nth-child(2){
  flex-direction:row-reverse;
}

.logistique-section .items .item p{
  margin-top: 15%;
  text-align: justify;
}


.logistique-schema .schema{
  margin: 4rem 0;
  background-color: #20458e;
  width: 100%;
  background-image: url(src/assets/schema.svg);
  background-repeat: no-repeat;
  height: 50vh;
  background-size: contain;
  background-position: center;
}

.logistique-schema{
  background-color: #20458e;
  position: relative;
  width: 100vw;
  height: 70vh;
  margin: 4rem 0;
}

.logistique-schema .schema img{
  width: 200%;
}

.logistique-schema p{
  text-align: center;
  color: #fff;
  padding-top: 1rem;
  text-transform: uppercase;
}

.logistique .carte{
  display: flex;
  justify-content: space-around;
}


.logistique .carte .carte-right img{
  width: 10rem;
}

.logistique .carte-right{
  display: flex;
  width: 60%;
  
}

.logistique .carte-right div{
  margin-top: 43%;
  width: 100%;
}

.logistique .carte-right p{
  font-size: .8rem;
  width: 100%;
  margin-bottom: 1rem;
  justify-items: center;
}


/* End logistique */


/* rse */

.rse1 {
  display: flex;
  gap: 2rem;
}

.rse1-title{
  
}

.rse1 p{
  text-align: justify;
}

.rse1-elements{
  margin: 3rem 0 2rem 0;
}

.rse1-element{
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.rse1-element::before{
  content: '';
  width: 100%;
  height: 1px;
  background-color: #ECECEC;
  position: absolute;
  top: 115%;
}

.rse1-element-text{
  width: 90%;
}

.rse1-element-text p:first-child{
  font-size: 1.5rem;
  color: #000;
}

.rse1-element-img{
  
}

.rse1-element-img img{
  width: 2rem;
}


/* End rse */




/*  rejoindre */



.join1 p{
  text-align: justify;
}

.join1-elements{
  margin: 3rem 0 2rem 0;
}

.join1-element{
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.join1-element::before{
  content: '';
  width: 100%;
  height: 1px;
  background-color: #ECECEC;
  position: absolute;
  top: 115%;
}

.join1-element-text{
  width: 90%;
}

.join1-element-text p:first-child{
  font-size: 1.5rem;
  color: #000;
}


.join1-element-img img{
  width: 3rem;
}



/* End rejoindre */







/* Animations */






/* End animations */

/* contact-us */

        /* à revoir */

.contact-us{
  display: flex;
  justify-content: space-between;
  gap:7rem;

}

.contact-us form div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.contact-us div input {
  background-color: transparent;

  border: none;
  outline: none;
  padding: 8px;
  font-size: 1rem;
}

.contact-us div input:active {
  border: none;
  outline: none;
}



/* end contact-us*/


/* Animations personnalisées */
@keyframes wordAppear {
  from {
      opacity: 0;
      transform: translateX(-20px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.title2 {
  white-space: normal; /* Espacement normal */
}

.title2 span {
  display: inline-block; /* Pour l'animation */
}

/* Pour les mots vides (espaces simples) */
.title2 span:empty {
  display: inline;
  margin-right: 0.3em;
}

/* Animation pour le title1 */
.title1.animate__fadeInUp {
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

/* Animation pour le title2 */
.title2 {
  overflow: hidden;
}

.title2 span {
  display: inline-block;
}

/* Animation de sortie (quand l'élément quitte l'écran) */
.title1, .title2 {
  transition: all 2s ease;
}

.title1.hide, .title2.hide {
  animation: slideOutDown 1s cubic-bezier(0.5, 0, 0.1, 1) forwards;
}



/* état initial : invisible, décalé à gauche */
.slide-in,
.slide-in-delay {
  opacity: 0;
  transform: translateX(-20px);
}

/* quand la JS ajoute .animated, on joue l’anim */
.slide-in.animated,
.slide-in-delay.animated {
  animation: slideIn 0.8s ease forwards;
}

/* variante “delay” pour le second bloc */
.slide-in-delay.animated {
  animation-delay: 0.5s;
}

/* keyframes */
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
