* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Helvetica, serif;
}
/* Police */

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.jost{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* End Police */

/* Title style */

.title1{
  font-size: 20px;
  color: #1F458E;
  position: relative;
}

.title1::before{
  content: '';
  width: 12%;
  height: 1px;
  background-color: #1F458E;
  position: absolute;
  top: 100%;
}

.title2{
  font-size: 32px;
  color: #1F458E;
  position: relative;
  font-weight: bold;
  margin: 30px 0 90px 0;
  width: 50%;
}

.title2::before{
  content: '';
  width: 90%;
  height: 1px;
  background-color: #020101;
  opacity: 8%;
  position: absolute;
  top: 100%;
}

/* End Title style */

/* Header */

header{
  background-color: #1F458E;
  color: #FFF;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5rem;
  position: sticky;
  top: 0;
}

.logo{
  height: 80px;
}

.logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav ul{
  display: flex;
  list-style: none;
  gap:2rem;
}

nav ul li a{
  color: #FFF;
  text-decoration: none;

  transition: 500ms ease-in-out;
 
}

nav ul li a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.search-box{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.search-box input{
  background-color: transparent;
  color: #FFF;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 1rem;
}

.search-box input:active{
  border: none;
  outline: none;
}

.search-box img{
  width: 15px;
  margin: 10px;
}


/*  Tabs  */

.about{
  margin: 5rem 20rem;
}

.tabs{

}

.tabs .tabs-header{
  display: flex;
  
}

.tabs .card{
  display: none;
}

.tab-item{
  cursor: pointer;
  margin: .2rem; 
}
.tab-header-text p{
  min-width: 100%;
  margin-top: 1rem;
}

.img-container{
  width: 250px;
  width: 250px;
}
.img-container .img{
  width: 100%;
  height: 100%;
}

.active{
  color: #1F458E;
  opacity: 100%;
  text-decoration-line: underline;
}



/* news */

#news-section{
  background-color: #eee;
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

#news-section .news-body{
  display: flex;
  gap: 90px;
  flex-wrap: wrap;
  justify-content: center;
}

#news-section article{
  width: 360px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

#news-section article .news-img{
  width: 100%;
  height: 245px;
  margin-bottom: 1.2rem;
}

.news-row{
  
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;

}

.news-row button{
  padding: 5px 15px;
  border: 1px solid rgba(0, 0, 0,  0.15);
  outline: none;
  border-radius: 30px;
  text-transform:uppercase;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0,  0.15);
}

.news-row span{
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-row span img{
  height: 21px;
  margin-right: 8px;
}

#news-section article .text{
  padding: 1rem;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

#news-section article a{
  display: flex;
  justify-self: start;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

/* end news */


/* footer */

footer{
  background-color: #1F458E;
  color: #fff;
  padding: 3rem 10rem;
}

footer .footer-container {
  display: flex;
  justify-content: space-between;

}

footer .bottom{
  margin-top: 5rem;
  text-align: center;
}

/* end footer */